[Unit]
Description=High-Priority Raspberry PiCoolFan Service
After=network.target

[Service]
ExecStart=/home/git-repositories/RaspIrrigation/dynamicI2CoolingRasPi.sh
WorkingDirectory=/home/git-repositories/RaspIrrigation
Environment=PATH=/usr/bin:/usr/local/bin:/bin:/sbin
Restart=always
RestartSec=5
User=root
Nice=-10
LimitNICE=-10
IOSchedulingClass=2
IOSchedulingPriority=4

[Install]
WantedBy=multi-user.target
