[Unit]
Description=High-Priority Raspberry PiCoolFan Service
After=network.target

[Service]
ExecStart=/home/git-repositories/PiCoolFanService/dynamicI2CoolingRasPi.sh
WorkingDirectory=/home/git-repositories/PiCoolFanService
Environment=PATH=/usr/bin:/usr/local/bin:/bin:/sbin:/snap/bin
Restart=always
RestartSec=5
User=benspeh357
Nice=-10
LimitNICE=-10
IOSchedulingClass=2
IOSchedulingPriority=4
CapabilityBoundingSet=CAP_SYS_RAWIO

[Install]
WantedBy=multi-user.target
